@using BlogWebApp.Models
@model Rootobject


<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            @*            <article class="post-card post tag-business-services tag-blog tag-technical-services ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/how-assemblysofts-managed-iaas-can-benefit-accountants-and-financial-advisors/">
                <img class="post-card-image" srcset="/images/volkan-olmez-aG-pvyMsbis-unsplash.jpg 300w,
                /images/volkan-olmez-aG-pvyMsbis-unsplash.jpg 600w,
                /images/volkan-olmez-aG-pvyMsbis-unsplash.jpg 1000w,
                /images/volkan-olmez-aG-pvyMsbis-unsplash.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/volkan-olmez-aG-pvyMsbis-unsplash.jpg" alt="How Assemblysoft&#39;s managed IAAS can benefit accountants and financial advisors">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/how-assemblysofts-managed-iaas-can-benefit-accountants-and-financial-advisors/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">Business-Services</div>
                        <h2 class="post-card-title">How Assemblysoft's managed IAAS can benefit accountants and financial advisors</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>Eliminate the cost of maintaining your own physical servers and spend your valuable time adding real value to your business. With stringent security measures and a comprehensive disaster recovery system in place, you never have to worry about suffering downtime or losing sensitive data.</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2021-10-06">6 Oct 2021</time> <span class="bull">•</span> 1 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/what-is-azure-and-why-should-i-use-it/">
                <img class="post-card-image" srcset="/images/benefit-2.png 300w,
                /images/benefit-2.png 600w,
                /images/benefit-2.png 1000w,
                /images/benefit-2.png 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/benefit-2.png" alt="What is Azure and why should I use it?">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/what-is-azure-and-why-should-i-use-it/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">What is Azure and why should I use it?</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>Azure is a cloud computing platform with an ever-expanding set of services to help you build solutions to meet your business goals. Azure services range from simple web services for</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-12-01">1 Dec 2020</time> <span class="bull">•</span> 4 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/a-technical-treat/">
                <img class="post-card-image" srcset="/images/my-dotnet-bot-mod.png 300w,
                /images/my-dotnet-bot-mod.png 600w,
                /images/my-dotnet-bot-mod.png 1000w,
                /images/my-dotnet-bot-mod.png 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/my-dotnet-bot-mod.png" alt="A technical treat">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/a-technical-treat/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">A technical treat</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>We will be immersing ourselves in learning about the new .NET 5 release, particularly around #Blazor + hanging out to enjoy this special 10th anniversary which will no doubt bring a few surprises.  This is how we stay on top of the latest developments for .NET!</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-11-09">9 Nov 2020</time> <span class="bull">•</span> 1 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/what-is-net-5/">
                <img class="post-card-image" srcset="/images/1200px-.NET_Logo.svg.png 300w,
                /images/1200px-.NET_Logo.svg.png 600w,
                /images/1200px-.NET_Logo.svg.png 1000w,
                /images/1200px-.NET_Logo.svg.png 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/1200px-.NET_Logo.svg.png" alt="What is .NET 5 and why is it so significant?">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/what-is-net-5/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">What is .NET 5 and why is it so significant?</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>.NET 5 is a compelling choice for your next application development project. We enjoy using it, on desktop, laptop, and in the cloud. The idea behind .NET 5 was to make .NET development simpler, but also richer in every sense.  Interested in why .NET 5 is so significant?</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-11-01">1 Nov 2020</time> <span class="bull">•</span> 40 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/test/">
                <img class="post-card-image" srcset="/images/daniele-levis-pelusi-E37ulnh8Obg-unsplash.jpg 300w,
                /images/daniele-levis-pelusi-E37ulnh8Obg-unsplash.jpg 600w,
                /images/daniele-levis-pelusi-E37ulnh8Obg-unsplash.jpg 1000w,
                /images/daniele-levis-pelusi-E37ulnh8Obg-unsplash.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/daniele-levis-pelusi-E37ulnh8Obg-unsplash.jpg" alt="Servicing our customers in challenging times: Covid-19">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/test/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">Servicing our customers in challenging times: Covid-19</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>We are constantly monitoring the spread of the Coronavirus.  There have also been significant changes with other countries around the globe discussing a travel ban. Events have been cancelled and</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-10-27">27 Oct 2020</time> <span class="bull">•</span> 1 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/the-benefits-of-using-azure-devops-services/">
                <img class="post-card-image" srcset="/images/azure-devops-hero.png 300w,
                /images/azure-devops-hero.png 600w,
                /images/azure-devops-hero.png 1000w,
                /images/azure-devops-hero.png 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/azure-devops-hero.png" alt="The benefits of using Azure DevOps Services">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/the-benefits-of-using-azure-devops-services/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">The benefits of using Azure DevOps Services</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>Azure BoardsDeliver value to your users faster using proven agile tools to plan, track, and discuss work across your teams.Learn more Azure PipelinesBuild, test, and deploy with CI/CD</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-09-01">1 Sep 2020</time> <span class="bull">•</span> 1 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/moving-you-azure-app-service-to-another-app-service-plan/">
                <img class="post-card-image" srcset="/images/eirik-hodne-AtQ7Pnhs7e4-unsplash.jpg 300w,
                /images/eirik-hodne-AtQ7Pnhs7e4-unsplash.jpg 600w,
                /images/eirik-hodne-AtQ7Pnhs7e4-unsplash.jpg 1000w,
                /images/eirik-hodne-AtQ7Pnhs7e4-unsplash.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/eirik-hodne-AtQ7Pnhs7e4-unsplash.jpg" alt="Moving you Azure App Service to another App Service Plan">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/moving-you-azure-app-service-to-another-app-service-plan/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">Moving you Azure App Service to another App Service Plan</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>Moving an App Service to another App Service Plan maybe necessary to light up features but what if you cannot see the existing App Service Plan in the portal that you already have in use for an existing App Service?</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-04-02">2 Apr 2020</time> <span class="bull">•</span> 6 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/how-azure-devops-can-optimize-remote-developer-team-productivity/">
                <img class="post-card-image" srcset="/images/azuredevops.png 300w,
                /images/azuredevops.png 600w,
                /images/azuredevops.png 1000w,
                /images/azuredevops.png 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/azuredevops.png" alt="How Azure DevOps can Optimize Remote Developer Team Productivity">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/how-azure-devops-can-optimize-remote-developer-team-productivity/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">How Azure DevOps can Optimize Remote Developer Team Productivity</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>Development team leaders are increasingly managing fully distributed teams as organisations embrace remote work. This presents new challenges and opportunities to maximise a team’s potential by enabling them to</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-03-01">1 Mar 2020</time> <span class="bull">•</span> 19 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/should-i-use-blazor-for-my-next-application/">
                <img class="post-card-image" srcset="/images/BrandBlazor_nohalo_1000x-1.png 300w,
                /images/BrandBlazor_nohalo_1000x-1.png 600w,
                /images/BrandBlazor_nohalo_1000x-1.png 1000w,
                /images/BrandBlazor_nohalo_1000x-1.png 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/BrandBlazor_nohalo_1000x-1.png" alt="Should I use Blazor for my next application?">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/should-i-use-blazor-for-my-next-application/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">Should I use Blazor for my next application?</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>As a .NET specialist, Blazor is a technology that enables some amazing capabilities that we can pass onto our clients with huge cost and development time benefits.</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-02-01">1 Feb 2020</time> <span class="bull">•</span> 9 min read</span>
                    </div>
                </footer>

            </div>

        </article>
        <article class="post-card post tag-blog tag-technical-services ">

            <a class="post-card-image-link" href="https://services.assemblysoft.com/what-is-asp-net-and-why-should-i-use-it/">
                <img class="post-card-image" srcset="/images/architecture-devops-dotnet-webapp.svg 300w,
                /images/architecture-devops-dotnet-webapp.svg 600w,
                /images/architecture-devops-dotnet-webapp.svg 1000w,
                /images/architecture-devops-dotnet-webapp.svg 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/architecture-devops-dotnet-webapp.svg" alt="What is ASP.NET and why should I consider using it?">
            </a>

            <div class="post-card-content">

                <a class="post-card-content-link" href="https://services.assemblysoft.com/what-is-asp-net-and-why-should-i-use-it/">

                    <header class="post-card-header">
                        <div class="post-card-primary-tag">blog</div>
                        <h2 class="post-card-title">What is ASP.NET and why should I consider using it?</h2>
                    </header>

                    <section class="post-card-excerpt">
                        <p>Websites and applications built with ASP.NET can be faster and more efficient with reduced development costs, It is reliable, fast, easy to use,  and widely supported. ASP.NET gives you full control of your development and can be used on any project, big or small.</p>
                    </section>

                </a>

                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">

                            <div class="author-name-tooltip">
                                Carl Randall
                            </div>

                            <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="post-card-byline-content">
                        <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                        <span class="post-card-byline-date"><time datetime="2020-01-01">1 Jan 2020</time> <span class="bull">•</span> 7 min read</span>
                    </div>
                </footer>

            </div>

        </article>*@
            @*<article class="post-card post tag-blog ">

                <a class="post-card-image-link" href="https://services.assemblysoft.com/simple-git-branching-strategy-for-release-cycles/">
                    <img class="post-card-image" srcset="/images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 300w,
                    /images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 600w,
                    /images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 1000w,
                    /images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src="./images/aaron-burden-pn2aVMO0lvE-unsplash.jpg" alt="Simple Git branching strategy for release cycles">
                </a>

                <div class="post-card-content">

                    <a class="post-card-content-link" href="https://services.assemblysoft.com/simple-git-branching-strategy-for-release-cycles/">

                        <header class="post-card-header">
                            <div class="post-card-primary-tag">blog</div>
                            <h2 class="post-card-title">Simple Git branching strategy for release cycles</h2>
                        </header>

                        <section class="post-card-excerpt">
                            <p>Coming up with a branching strategy that works well can be challenging when working with multiple developers and managing release cycles. A simple approach is presented here to manage release</p>
                        </section>

                    </a>

                    <footer class="post-card-meta">
                        <ul class="author-list">
                            <li class="author-list-item">

                                <div class="author-name-tooltip">
                                    Carl Randall
                                </div>

                                <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                                </a>
                            </li>
                        </ul>
                        <div class="post-card-byline-content">
                            <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                            <span class="post-card-byline-date"><time datetime="2019-11-01">1 Nov 2019</time> <span class="bull">•</span> 3 min read</span>
                        </div>
                    </footer>

                </div>

            </article>*@
            @foreach (var i in Model.posts)
            {
                <article class="post-card post tag-blog ">

                    <a class="post-card-image-link" href=@i.url>
                        @*                        <img class="post-card-image" srcset="/images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 300w,
                    /images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 600w,
                    /images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 1000w,
                    /images/aaron-burden-pn2aVMO0lvE-unsplash.jpg 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy" src=@i.feature_image  alt="Simple Git branching strategy for release cycles">
                        *@
                        <img class="post-card-image" src=@i.feature_image alt="Simple Git branching strategy for release cycles">
                    </a>

                    <div class="post-card-content">

                        <a class="post-card-content-link" href=@i.url>

                            <header class="post-card-header">
                                <div class="post-card-primary-tag">blog</div>
                                <h2 class="post-card-title">@i.title</h2>
                            </header>

                            <section class="post-card-excerpt">
                                <p>
                                    @i.excerpt.ToString().Substring(0, (i.excerpt.Length > 192) ? 192 : i.excerpt.Length)

                                </p>
                            </section>

                        </a>

                        <footer class="post-card-meta">
                            <ul class="author-list">
                                <li class="author-list-item">

                                    <div class="author-name-tooltip">
                                        Carl Randall123
                                    </div>

                                    <a href="https://services.assemblysoft.com/author/carl/" class="static-avatar author-profile-image">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M3.513 18.998C4.749 15.504 8.082 13 12 13s7.251 2.504 8.487 5.998C18.47 21.442 15.417 23 12 23s-6.47-1.558-8.487-4.002zM12 12c2.21 0 4-2.79 4-5s-1.79-4-4-4-4 1.79-4 4 1.79 5 4 5z" fill="#FFF"></path></g></svg>
                                    </a>
                                </li>
                            </ul>
                            <div class="post-card-byline-content">
                                <span><a href="https://services.assemblysoft.com/author/carl/">Carl Randall</a></span>
                                <span class="post-card-byline-date"><time datetime="2019-11-01">1 Nov 2019</time> <span class="bull">•</span> @i.reading_time min read</span>
                            </div>
                        </footer>

                    </div>

                </article>

            }
        </div>
    </div>
</main>
